# Project exclude paths
/.gradle/
/Game of Life/task/build/
/Game of Life/task/out/
/Game of Life/task/out/production/classes/
/Game of Life/task/out/test/classes/
/Topics/Comparable/Implement compareTo method/out/
/Topics/Comparable/Implement compareTo method/out/production/classes/
/Topics/Comparable/Implement comparing by additional fields/out/
/Topics/Comparable/Implement comparing by additional fields/out/production/classes/
/Topics/Comparable/Theory/out/
/Topics/Comparable/Theory/out/production/classes/
/Topics/The Map interface/Creating a map/out/
/Topics/The Map interface/Creating a map/out/production/classes/
/Topics/The Map interface/Displaying pairs/out/
/Topics/The Map interface/Displaying pairs/out/production/classes/
/Topics/The Map interface/Getting submaps/out/
/Topics/The Map interface/Getting submaps/out/production/classes/
/Topics/The Map interface/Kidnapper of Ice cream/out/
/Topics/The Map interface/Kidnapper of Ice cream/out/production/classes/
/Topics/The Map interface/Modifying a map/out/
/Topics/The Map interface/Modifying a map/out/production/classes/
/Topics/The Map interface/Sherlock Holmes and removing of characters/out/
/Topics/The Map interface/Sherlock Holmes and removing of characters/out/production/classes/
/Topics/The Map interface/Sherlock Holmes and the mystery of anagrams/out/
/Topics/The Map interface/Sherlock Holmes and the mystery of anagrams/out/production/classes/
/Topics/The Map interface/Theory/out/
/Topics/The Map interface/Theory/out/production/classes/